$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$grey: rgb(62, 62, 64);
$darkGrey: rgb(31, 31, 33);
$green: rgb(0, 245, 75);
$darkGreen: rgb(0, 124, 53);
$blue: rgb(0, 205, 247);
$mediumBlue: rgb(0, 149, 227);
$darkBlue: rgb(21, 115, 233);
