@import '../../utils/variables';

.top-nav {
    a {
        color: $white !important;
    }

    span {
        color: $green !important;
    }

    .navbar-toggle {
        margin: 15px;
        background: $grey;
        border-color: $green;

        .icon-bar {
            background: $green;
        }

        &:hover {
            border-color: $blue;

            .icon-bar {
                background: $blue;
            }
        }
    }

    .navbar-brand {
        height: 70px !important;
        width: 144px !important;
    }
}
